#bf-theirs {
  transform: rotate(180deg);
}

.card.tap {
  transform: rotate(90deg);
}

.card {
  transition: transform 0.7s;
  height: 5em;
  margin: 3px;
}

#op-hand > .card {
  height: 3em;
  margin: 2px;
}
