#bf-theirs {
  transform: rotate(180deg);
}

.card.tap {
  transform: rotate(90deg);
}

.card {
  transition: transform 0.7s;
  height: 5em;
  margin: 3px;
}

#op-hand > .card {
  height: 3em;
  margin: 2px;
}

#combat {
  background: orange;
  padding: 10px;
}

#combat.opponent-attacking {
  transform: rotate(180deg);
}

.blockers {
  transform: rotate(180deg);
}

.fightbox {
  width: max-content;
  border: 1px solid black;
}

.graveyard > .card {
  margin: -3px;
  height: 2em;
}

.card.playable {
  box-shadow: 0 0 15px 5px #0f0;
}

.card.activateable {
  box-shadow: 0 0 15px 5px #4ef;
}

.card.selectable {
  box-shadow: 0 0 15px 5px #f2f;
}

.menu {
  position: absolute;
  z-index: 1000;
}

.placeholder {
  opacity: 0.1;
}

.inmotion.clone {
  position: absolute;
  transition: left 0.9s ease-out, top 0.9s ease-out;
  z-index: 1000;
  margin: 0px;
}
