ul#users {
  list-style-type: none;
}

ul#users > li.user-here::before {
  content: '■ ';
  color: lightgreen;
}

ul#users > li.user-away::before {
  content: '♦ ';
  color: orange;
}

.chat_message {
  background: lightblue;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.4rem grey;
  padding: 0.6rem;
  display: inline-block;
}

#chat {
  height: 50%;
  border: 1px solid black;
  overflow: scroll;
}

.card_list {
  overflow-x: scroll;
  white-space: nowrap;
}

.deck_card {
  display: inline-block;
  margin: 1rem;
}

.card {
  height: 30vh;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  display:inline;
}

ul.menu a {
  display: inline-block;
  padding: 5px;
  background: lightgrey;
}

ul.menu a.active {
  background: lightgreen;
}
