ul#users {
  list-style-type: none;
  height: 30vh;
}

ul#users > li.user-here::before {
  content: '■ ';
  color: lightgreen;
}

ul#users > li.user-away::before {
  content: '♦ ';
  color: orange;
}

ul#users > li.robot_user::before {
  content: '🤖 ';
  color: grey;
}

ul#games {
  height: 30vh;
}

ul#chat {
  height: 70vh;
}

body {
  background-image: url("logo-min.png");
  background-color: burlywood;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.chat_message {
  background: lightblue;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem gray;
  padding: 0.6rem;
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}

.scroll-list {
  border: 1px solid black;
  overflow-y: scroll;
}

.scroll-list li {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.card_list {
  overflow-x: scroll;
  white-space: nowrap;
}

.deck_card {
  display: inline-block;
  margin: 1rem;
}

.card {
  height: 30vh;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  display:inline;
}

ul.menu a {
  display: inline-block;
  padding: 5px;
  background: lightgrey;
}

ul.menu a.active {
  background: lightgreen;
}

div.player {
  display: inline-block;
  padding: 2em;
  margin: 1em;
  border-radius: 1em;
  background: lightblue;
}

div.player.ready {
  background: lightgreen;
}

#grid-lobby {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1em;
}

#cell-users {
  grid-column: 1;
  grid-row: 1;
}

#cell-games {
  grid-column: 1;
  grid-row: 2
}

#cell-chat {
  grid-column: 2;
  grid-row: 1 / 3;
}
