<!DOCTYPE html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - BOTE</title>
      {% else %}
      <title>Welcome to BOTE</title>
      {% endif %}
      <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    </head>
    <body>
      <ul class="menu">
        <li><a href="{{ url_for('lobby') }}" {% if request.endpoint == 'lobby' %} class="active" {% endif %}>Lobby</a></li>
      </ul>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul><hr>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </body>
    {% block afterbody %}{% endblock %}
</html>
