<html>
    <head>
      {% if title %}
      <title>{{ title }} - BOTE</title>
      {% else %}
      <title>Welcome to BOTE</title>
      {% endif %}
    </head>
    <body>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      You are logged in as {{current_user.username}} <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul><hr>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </body>
</html>
