{% extends "base.html" %}

{% block content %}
    <h1>Deck</h1>
    <p>Name: {{ deck.name }}</p>
    <h2>Cards in Deck</h2>
    <div class="card_list">
    {% for card in deck.cards %}
    <div class="deck_card"><img src="{{ url_for('art_svg_redirect', art_id=card.art_id) }}"></img></div>
    {% endfor %}
    </div>
    <h2>Cards available</h2>
    <div class="card_list">
    {% for card in cards %}
      <img src="{{ url_for('art_svg_redirect', art_id=card.art_id) }}"></img>
    {% endfor %}
    </div>
{% endblock %}
