<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='game.css') }}" rel="stylesheet">
</head>
<body>
  <div id="main-grid">
  <div id="logarea">
    <ul id="log" style="overflow:scroll; height:300px;"></ul>
    <button onclick="log_refresh()">Refresh</button>
    <div id="answer" style="display: none;">
      <div id="choices"></div>
      <button onclick="get_and_send_answer()">Answer</button>
    </div>
  </div>
  <img id="cardview"></img>
  <div id="op-stats" class="stats">
    <div id="op-avatar" class="avatar"></div>
    <div id="op-name" class="name">Opponent</div>
    <div id="op-life" class="life">Life</div>
    <div id="op-energy" class="energy">Energy</div>
    <div id="op-hand"></div>
    <div id="op-graveyard" class="graveyard"></div>
  </div>
  <div id="stepconfirm">
    <div>
      {% include 'steps.svg' %}
    </div>
    <div><button id="confirm">Confirm</button></div>
    <div>
      <input type="checkbox" id="autopass"></input>
      <label for="autopass">Pass when no other choice</label>
    </div>
  </div>
  <div id="my-stats" class="stats">
    <div id="my-avatar" class="avatar"></div>
    <div id="my-name" class="name">My Name</div>
    <div id="my-life" class="life">Life</div>
    <div id="my-energy" class="energy">Energy</div>
    <div id="my-graveyard" class="graveyard"></div>
  </div>
  <div id="stack"></div>
  <div id="bf-theirs" class="battlefield"></div>
  <div id="combat">Combat Arena</div>
  <div id="bf-mine" class="battlefield"></div>
  <div id="hand"></div>
  <div id="debug">
    <p><button onclick="savegame()">Save Game State</button></p>
  </div>
  <div id="msgbox">
    <ul id="messages"></ul>
  </div>
  </div>
</body>
<script src="{{ url_for('static', filename='game.js') }}"></script>
<script>
log_count = 0;
game_uri = document.URL;
BACKFACE_URL = "{{ url_for('static', filename='backface.png') }}";
log_refresh();
</script>
</html>
