<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='game.css') }}" rel="stylesheet">
</head>
<body>
  <div id="logarea">
    <ul id="log" style="overflow:scroll; height:300px;"></ul>
    <button onclick="log_refresh()">Refresh</button>
    <div id="answer" style="display: none;">
      <div id="choices"></div>
      <button onclick="send_answer()">Answer</button>
    </div>
  </div>
  <img id="cardview"></img>
  <div id="op-stats">
    Opponents Stats
    <p id="op-life"></p>
    <p id="op-energy"></p>
    <div id="op-hand"></div>
    <div id="op-graveyard" class="graveyard"></div>
  </div>
  <div id="stepconfirm">
    {% include 'steps.svg' %}
    <p><button id="confirm">Confirm</button></p>
    <p>
      <input type="checkbox" id="autopass" checked></input>
      <label for="autopass">Pass when no other choice</label>
    </p>
  </div>
  <div id="my-stats">
    My Stats
    <p id="my-life"></p>
    <p id="my-energy"></p>
    <div id="my-graveyard" class="graveyard"></div>
  </div>
  <div id="stack"></div>
  <div id="bf-theirs"></div>
  <div id="combat">Combat Arena</div>
  <div id="bf-mine"></div>
  <div id="hand"></div>
</body>
<script src="{{ url_for('static', filename='game.js') }}"></script>
<script>
log_count = 0;
game_uri = document.URL;
BACKFACE_URL = "{{ url_for('static', filename='backface.png') }}";
log_refresh();
</script>
</html>
